$main_color: #555;
h1 {
    color: $main_color;
    span {
        background: #000;
    }
    &:hover {
        padding: 20px;
    }
    &_2 {
        background: #000;
    }
    @media screen and (max-width: 767px) {
        color: blue;
    }
}

@import "parts.scss";